
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}



.profile-photo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.space {
    margin-top: 100px;
}

.card-body h1 {
    font-size: 28px;
}


.story-section {
    margin-top: 50px;
}