 :root {
   --primary-color: #CEF6F2;
 }

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }

  
  
  .story-container {
      margin-top: 100px;
      width: 100vw;
      display: flex;  
      justify-content: center;
  }


  .panel {
      width: 300px;
      display: flex;
      flex-direction: column;
  }

  .panel h2 {
    color : gray;
    font-size: 20px;
  }

  .panel-content {
    position: fixed;
  }



 .title {
     font-size: 36px;
     margin-left: 120px;
 }

 .story {
   width: calc(100% - 300px);
 }



 .story h2 {
  margin-left: 120px;
  color: gray;
 }

 .story-writer-photo {
     width: 50px;
     height: 50px;
     border-radius: 50%;
 }

 .date {
    color: gray;
 }

 .tiny-button {
     background-color: aquamarine;
     border: none;
     color: gray;
     font-size: 12px;
 }

.story-writer-info {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 120px;
}

.infos, .date{
    padding: 0 3px 3px 10px; 
}


.story-image {
    width: 80%;
    height: 350px;
}

.story-content {
    margin: 60px 0 0 120px;
}

.story-content p {
  margin-top: 50px;
  font-size: 19px;
  line-height: 30px;
  width: 80%
}


.comment-section {
  width: 300px;
  display: flex;
  flex-direction: column;
}


hr {
  margin-left: 120px;
  width: 75%
}


.comment-section h3 {
  margin: 30px 0 20px 120px;
  font-size: 22px;
 
}

.comment-section textarea {
  margin: 5px 0 0 120px ;
  width: 600px;
  height: 80px;
  font-size: 16px;
  padding: 10px;
}

.comment-section input {
  margin: 5px 0 0 120px ;
  background-color: black;
  color: white;
  border: none;
  height: 30px;
}


.comment {
    margin: 30px 0 0 120px;
    display: flex;
}

.reply {
  margin: 30px 0 0 180px;
  display: flex; 
}


.comment img , .reply img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment span, .reply span {
  font-size: 14px;
  cursor: pointer;
  
}

.comment a, .reply a {
  color: black;
  text-decoration: none;
}

.comment p , .reply p{
  margin-top: 3px;
}

.comment-content{
  /*height: 60px;*/
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ccc {
  margin-top: -10px;
}

.ccc a{
  font-size: 15px;
}


.reply-dialog {
  margin-left: 35px;
  width: 400px;
  height: 50px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 80px;
  /*display: blo;*/
}

.reply-dialog.active {
  display: block;
}



.like-nd-save,.controls {
  margin-top: 20px;
}

.panel-content h2 {
  padding: 20px;
}

.panel-story{
  margin-top: 30px;
  display: flex;
}


.panel-story img{
  height: 50px;
  width: 50px;
}

.panel-story a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.panel-story a:nth-child(1) {
  color: gray;
}

.o {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px){
  .story-container {
    width: 200px;
  }

  .comment-section textarea {
    width: 200px;
    height: 50px;
  } 

}

